<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include ("./partials/nav.ejs") %>
            <div class="details content">
                <h2>NFC Data Details</h2>
                <p><strong>Serial Number:</strong>
                    <%= nfc_data.ID %>
                </p>

                <p><strong>Name:</strong>
                    <%= nfc_data.name %>
                </p>
                <p><strong>Location:</strong></p>
                <p>Latitude: <%= nfc_data.loc.lat %>
                </p>
                <p>Longitude: <%= nfc_data.loc.long %>
                </p>
                <p><strong>battery_level:</strong>
                    <%= nfc_data.battery_level %>
                </p>

                <a class="delete" data-doc="<%= nfc_data._id %>">
                    <img src="/trashcan.svg" alt="delete icon">
                </a>
            </div>

            <%- include ("./partials/footer.ejs") %>

                <script>
                    const trashcan = document.querySelector('a.delete');
                    trashcan.addEventListener('click', (e) => {
                        const endpoint = `/logs/${trashcan.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE'
                        }).then((response) => {
                            response.json().then((data) => {
                                window.location.href = data.redirect
                            })
                        }).catch(err => {
                            console.log(err);
                        })
                    })
                </script>
    </body>

</html>