<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="tasks content">
                <h2>All NFC Data</h2>
                <% if (logs.length> 0) { %>
                    <% logs.forEach(nfc=> { %>
                        <a class="single" href="/logs/<%= nfc._id %>">
                            <h3 class="title">NFC Data <%= nfc.ID %>
                            </h3>
                            <p class="snippet">
                                <%= nfc.name %>
                                    <%= nfc.battery_level %>
                            </p>
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>No NFC Data yet</p>
                                <% } %>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>