<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>


        <%- include("./partials/nav.ejs") %>
            <div class="tasks content">
                <h2>All Tasks</h2>
                <% if (tasks.length> 0) { %>
                    <% tasks.forEach(blog=>{ %>
                        <a class="single" href="/tasks/<%= blog._id %>">
                            <h3 class="title">
                                <%= blog.title %>
                            </h3>
                            <p class="snippet">
                                <%= blog.snippet %>
                            </p>
                        </a>

                        <% }) %>
                            <% }else{ %>


                                <p>No tasks yet</p>
                                <% } %>



            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>